body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 97vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, rgb(0, 126, 0), rgb(2, 145, 2), rgb(0, 44, 18));
  background-size: 300% 300%;
  color: white;

  animation: gradient 5s ease alternate infinite;
}

@keyframes gradient {
  from {
    background-position: 0 50%;
  }

  to {
    background-position: 100% 50%;
  }
}