body {
  display: grid;
  font-family: fantasy;
  font-size: 300%;
  height: 100vh;
  place-items: center;
}

.text-reveal {
  overflow: hidden;
  position: relative;
}

.text-reveal::after {
  animation: text-reveal 1s ease forwards;
  background-color: rgb(0, 0, 131);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  animation: fade 1ms 0.5s forwards ease-in-out;
  opacity: 0;
}

@keyframes text-reveal {
  from {
    transform: translateX(-101%);
  }

  to {
    transform: translateX(101%);
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}